#Entorno virtual de Python
.venv

# Caches de Python
**/__pycache__/
*.py[cod]
*.pyo

# Carpeta storage
storage/

# Archivos de logs o temporales
*.log
*.tmp

# Configuración de editor o IDE
.vscode/
.idea/